//Input variables
$inputBorder: #aaaaaa;
$inputLabel: #767676;
$inputLabel-selected: #565656;
$inputError: #be2b2b;
//Colors
$backgroundPrimary: #4CAF50;
$backgroundPrimary-hover: #43A047;
$backgroundPrimary-click: #2E7D32;
$backgroundDanger: #be2b2b;
$backgroundAlert: #ffe223;