.input-group {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
}
.input-group .input-label {
  margin-bottom: 8px;
  font-size: 0.875rem;
  line-height: 1rem;
}
.input-group .input-text {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.125rem;
  border: 2px solid;
  border-color: #aaaaaa;
  border-radius: 4px;
  outline: none;
}
.input-group .input-text:focus-visible {
  border-color: #565656;
}
.input-group .input-text.error {
  border-color: #be2b2b;
  color: #be2b2b;
}
.input-group .input-message {
  display: none;
  margin-top: 4px;
}
.input-group .input-message.error {
  color: #be2b2b;
}
.input-group .input-message.visible {
  display: block;
}

.btn {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.125rem;
  border-radius: 4px;
  color: white;
  background-color: #4CAF50;
  border: none;
  outline: none;
}
.btn:hover {
  background-color: #43A047;
}
.btn:active {
  background-color: #2E7D32;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  min-width: 40%;
  min-height: 40%;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 2px 2px 4px grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.modal .modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid grey;
}
.modal .modal-head .modal-btn button {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1rem;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
}
.modal .modal-body {
  padding: 1rem 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.modal .modal-body .modal-content {
  padding-bottom: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-body .modal-content .content-image {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.modal .modal-body .modal-actions {
  display: flex;
  justify-content: end;
}
.modal .modal-body .modal-actions button {
  margin-left: 0.25rem;
}
.modal.invisible {
  display: none;
}

.create-user .header {
  padding: 4rem 2rem 2rem;
  border-bottom: 2px solid #aaaaaa;
}
.create-user .header .heading {
  font-size: 2.5rem;
  font-weight: bolder;
}
.create-user .main {
  padding: 2rem 0;
}
.create-user .main .two-column {
  display: flex;
}
.create-user .main .two-column div {
  width: 50%;
}
.create-user .main .three-column {
  display: flex;
}
.create-user .main .three-column div {
  width: 33.333%;
}
.create-user .main .form-submit {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bolder;
}
.container {
  max-width: 70%;
  margin: 0 auto;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */