@use '../components/modal';
@use '../components/userCard';
@import '../variables';
.container-users {
    width: 80%;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    button {
        &:not(:nth-child(1)) {
            margin-left: 1rem;
        }
        padding: 0.5rem;
    }
}