@use '../components/modal';
@use '../components/userCard';
@import '../variables';
.container-users {
    width: 80%;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    button {
        &:not(:nth-child(1)) {
            margin-left: 1rem;
        }
        padding: 0.5rem;
    }
}

.search-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 2rem;
    label {
        margin-right: 1rem;
    }
    input {
        padding: 0.5rem;
        font-size: 1rem;
        line-height: 1.125rem;
        border: 2px solid;
        border-color: $inputBorder;
        border-radius: 4px;
        outline: none;
        &:focus-visible {
            border-color: $inputLabel-selected;
        }
    }
}