.card {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 1px 1px 4px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .row {
        display: flex;
    }
    .div {
        margin: 0.75rem;
    }
    label {
        font-size: 0.875rem;
        font-weight: 800;
    }
}